<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>XRPB CLASS - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>WELCOME in XRPB - CLASS</h1>
        <p>Kelas Rekayasa Perangkat Lunak</p>
        <hr>
        
        <div class="menu-box">
            <a href="/jadwal" class="button">Jadwal Mapel</a>
            <a href="/seragam" class="button">Seragam Harian</a>
        </div>
    </div>

</body>
</html>
