<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="art-bg"><div class="art-1"></div><div class="art-2"></div></div>
    <div class="container" style="max-width: 500px;">
        <h1>XRPB CLASS</h1>
        <p>Halo, <strong>{{ nama }}</strong>!</p>
        <div class="grid-menu">
            <a href="/absensi" class="card"> Absensi Siswa</a>
            <a href="/jadwal" class="card"> Jadwal Pelajaran</a>
            <a href="/seragam" class="card"> Seragam Hari Ini</a>
        </div>
        <br><a href="/logout" style="color:white; opacity:0.6;"> Logout</a>
    </div>
</body>
</html>
