<!DOCTYPE html>
<html lang="id">
<head>
	<meta charger="UTF-8">
	<title>MATA PELAJARAN - XRPB CLASS</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="art-bg"><div class="art-1"></div><div class="art-2"></div></div>
	<h1>JADWAL MAPEL</h1>
	<table border="1">
		<tr>
			<th>Senin</th>
			<th>Selasa</th>
			<th>Rabu</th>
			<th>Kamis</th>
			<th>Juma'at</th>
		</tr>
		<tr>
			<td>PYTHON BASIC</td>
			<td>HTML,CSS,JAVA BASIC</td>		
			<td>MIPAS</td>
			<td>C++,Golang,PHP</td>
			<td>Cybersecurity</td>
		</tr>
	</table>
	<br>
	<a href="/">Back to Dashboard</a>
</body>
</html>
