<!DOCTYPE html>
<html lang="id">
<head>
	<meta charger="UTF-8">
	<title>MATA PELAJARAN - XRPB CLASS</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
		<div class="art-bg"><div class="art-1"></div><div class="art-2"></div></div>
		<div class="container"</div>
			<h1>JADWAL MAPEL</h1>
			<p>Tahun Ajaran 2026/2027 - Semester 1</p>
		<table>
			<thead>
				<tr>
					<th>Hari</th>
					<th>Mata Pelajaran</th>
				</tr>
			</thead>
			<tbody>
				<tr><td>Senin</td><td>LAB ORACLE</td></tr>
				<tr><td>Selasa</td><td>Pelajaran biasa</td></tr>
				<tr><td>Rabu</td><td>TIK - Pelajaran biasa</td></tr>
				<tr><td>Kamis</td><td>LAB ORACLE</td></tr>
				<tr><td>Jum'at</td><td>Pelajaran biasa</td></tr>
			</tbody>
		</table>
			
		<br><br>
		<a href="/">Kembali ke Dashboard</a>
	</div>
</body>
</html>
