<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="art-bg"><div class="art-1"></div><div class="art-2"></div></div>
    <div class="container">
        <h1>JADWAL PELAJARAN</h1>
        <table>
            <thead><tr><th>Hari</th><th>Mapel</th></tr></thead>
            <tbody>
                <tr><td>Senin</td><td>PPLG - LAB.ORACLE</td></tr>
                <tr><td>Selasa</td><td>Bahasa Inggris - Matematika - Seni</td></tr>
                <tr><td>Rabu</td><td>Informatika - Sejarah - IPAS</td></tr>
                <tr><td>Kamis</td><<td>Coding - PPLG - LAB.ORACLE</td></td>
                <tr><td>Jumat</td><td>PPKN - PJOK - B.Indo - PAI</td></tr>
            </tbody>
        </table>
        <br><a href="/">← Kembali</a>
    </div>
</body>
</html>
