<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="art-bg"><div class="art-1"></div><div class="art-2"></div></div>
    <div class="container">
        <h1>SERAGAM</h1>
        <div class="card" style="color:#1e3a8a; margin-bottom:10px;">Senin-Selasa: Putih Abu-abu</div>
        <div class="card" style="color:#1e3a8a; margin-bottom:10px;">Rabu-Kamis: Batik</div>
        <div class="card" style="color:#1e3a8a;">Jumat: Pramuka</div>
        <br><a href="/">← Kembali</a>
    </div>
</body>
</html>
